
body {
  background-color: #000; /* Black background */
 }
 .form--login{
  background-color: black;
 }
 footer{
  background-color: black;
 }
 .navbar__link{
  color: white;
 }
 html {background-color: black}